#search-bar{
    display: flex;
    background-color: white;
    border-radius: 40px;
    margin: 5px auto;
    width: 400px;
    box-shadow: 3px 3px 10px -3px rgb(43, 43, 43);
    overflow: hidden;
}

input{
    all: unset;
    flex-grow: 1;
    padding: 10px 20px;
}

button{
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 40px;
    background-color: rgb(205, 205, 205);
    width: 30px;
    cursor: pointer;

    &:hover{
        background-color: rgb(179, 179, 255);
    }
    .fa-magnifying-glass{
        max-width: 18px;
        max-width: 18px;
    }
}

